.footer_bar
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: .25em;
  width: 100%;
  font-size: small;
}
.footer_bar p
{
  padding: .5em;
}
.footer_section
{
  background-color: var(--header_bar);
  flex-shrink: 0;
}
.footer_bar img
{
  height: 1em;
}