.header_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: .25em;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}


.title {
    text-align: center;
    margin: 0;
}

.links a {
    margin-left: .5em;
    margin-right: .5em;
}