.header_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: .25em;
}


.title {
    text-align: center;
    margin: 0;
}

.links a {
    margin-left: .5em;
    margin-right: .5em;
}