.centered_div {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 65%;

}

.content * {
  margin-top: .5em;
  margin-bottom: .5em;
}

@media only screen and (max-width:600px)
{
  .content
  {
    max-width: 85%;
  }
}