.page_box {
  margin: 2em;
  border: 1pt;
  padding: 1em;
  border-style: solid;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page_box_content {
  flex: 1 1 auto;
  display: flex;
  min-height: 0;
  overflow: hidden;

}

.page_box_text {
  max-width: 55%;
  min-width: 20em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.page_box_images {
  align-items: center;
  justify-items: center;
}

.page_box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.page_box_links {
  display: flex;
  flex-direction: row;
}

@media screen and (orientation: portrait) {
  .page_box_content{
    flex-direction: column;
    margin: 1em;
  }
  .page_box_content *
  {
    margin-top: .25em;
    margin-bottom: .25em;
  }
  .page_box_text
  {
    height: 30em;
    max-width: 100%;
    width: 100%;
  }
  .page_box
  {
    max-height: min-content;
  }
}