$font-stack: Consolas, monaco, monospace;

:root {
    --background: #121212;
    --foreground: #ebebeb;
    --header_bar: color-mix(in srgb, var(--background), white 8%);
    --link_color: #99C1F1;
}


section,
body {
    background-color: var(--background);
    color: var(--foreground);
    overflow-x: hidden;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: $font-stack;
}

p,
a,
li {
    font-family: $font-stack;

}

a {
    color: var(--link_color);
}

.container {
    margin: 1em;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ebebeb;
        --foreground: black;
        --link_color: #144B90;
        --header_bar: color-mix(in srgb, var(--background), black 8%);
    }
}