$font-stack: Consolas, monaco, monospace;

:root {
    --background: #121212;
    --foreground: #ebebeb;
    --header_bar: color-mix(in srgb, var(--background), white 8%);
    --link_color: #99C1F1;
    --link_hover: color-mix(in srgb, var(--link_color), darkblue 32%);
}


section,
body {
    background-color: var(--background);
    color: var(--foreground);
    overflow-x: hidden;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    min-height: 100vh;
}

h1,
h2,
h3,
h4 {
    font-family: $font-stack;
}

p,
a,
li {
    font-family: $font-stack;

}

a {
    color: var(--link_color);
}
a:hover
{
    color: var(--link_hover)
}

.invert_black
{
    filter: invert(1);
}

.container {
    margin: 2%;
    padding: 0;
    flex: 1 0 auto;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ebebeb;
        --foreground: black;
        --link_color: #144B90;
        --header_bar: color-mix(in srgb, var(--background), black 18%);
        --link_hover: color-mix(in srgb, var(--link_color), darkblue 55%);

    }
    .invert_black
    {
        filter:none;
    }
}

