<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Rei Anderson</title>
  <link rel="stylesheet" href={{get_url(path="theming.css" )}}>
  <link rel="stylesheet" href={{get_url(path="header_bar.css" )}}>
  <link rel="stylesheet" href={{get_url(path="footer_bar.css" )}}>
  {%block headers%}
  {%endblock headers%}
</head>

<body>
  <section class="header_section">
    <div class="header_bar">
      <h1 class="title">
        rei_anderson@~{%if section%}{{section.path}}{%elif page%}{{page.path}}{%endif%}
      </h1>
      <div class="links">

        {% set root_section = get_section(path="_index.md")%}
        <a href="{{root_section.permalink | safe}}">Home</a>

        {% for subsection in root_section.subsections %}

        {% set section = get_section(path=subsection) %}
        <a href="{{section.permalink | safe}}">{{section.title}}</a>

        {% endfor %}
      </div>
    </div>
  </section>

  <section style="flex: 1 0 auto;">
    <div class="container">
      {% block content %} {% endblock content %}
    </div>
  </section>

  <section class="footer_section">
    <div class="footer_bar">
      <p><img src={{get_url(path="email.svg")}} class="invert_black"><a href="mailto://rei.anderson@proton.me">rei.anderson@proton.me</a></p>
      <p><img src={{get_url(path="linkdin.png")}}><a href="https://www.linkedin.com/in/evan-anderson-bb702b1b6/">Rei Anderson</a></p>
      <p><img src={{get_url(path="github.svg")}} class="invert_black"><a href="https://github.com/GhostFire90">GhostFire90</a></p>
      <p><img src={{get_url(path="codeberg.svg")}}><a href="https://codeberg.org/PersephonesRain">PersephonesRain</a></p>
      <p><a href="{{get_url(path="mandelbrot.html")}}">:3</a></p>
    </div>
  </section>

</body>

</html>